$primary-color:#c1db9b;
$background-color:#d2e6b5; //:#d2e6b5;
$sec-color:#a0c172;
$light-color:#f3f3f3;
$dark-color:#333;
$font-stack:'Josefin Sans', sans-serif;
 $max-width:750px;
 $tmin-width:415px;
$table-width:820px;
$mobile-width:417px;
$Mbtw-width:1200px;
$btw-width:825px;
